body{
    background-color: black;
}

#outer_box{
    height: 400px;
    width: 600px;
    background-color: rgb(231, 33, 33);
    position: relative;
    top: 100px;
    left: 380px;
}

#inner_strip{
    height: 200px;
    width: 600px;
    background-color: rgb(14, 14, 122);
    position: absolute;
    top: 100px;
}
#inner_circle{
    height: 160px;
    width: 160px;
    background-color: white;
    position: relative;
    top: 20px;
    left: 220px;
    border-radius: 50%;
}

h2{
    color: white;
    position: relative;
    top: 100px;
    left: 592px;
}